<tr data-component-id="{{id}}">
    <!-- Nome do componente -->
    <td>{{name}}</td>
    <!-- Sigla da fórmula associada ao componente -->
    <td>{{formula_acronym}}</td>
    <!-- Descrição do componente -->
    <td>{{description}}</td>

    <td>
        <!-- Botão para editar o componente -->
        <button class="btn btn-secondary btn-icon rounded-circle me-2 edit-component-btn" title="Alterar componente">
            <i class="bi bi-pencil text-light"></i>
        </button>

        <!-- Botão para excluir o componente -->
        <button class="btn btn-secondary btn-icon rounded-circle delete-component-btn" title="Excluir componente">
            <i class="bi bi-trash"></i>
        </button>
    </td>
</tr>
