<tr data-component-id="{{id}}">
    <td>{{name}}</td>
    <td>{{formula_acronym}}</td>
    <td>{{description}}</td>

    <td>
        <button class="btn btn-secondary btn-icon rounded-circle me-2 edit-component-btn" title="Alterar componente">
            <i class="bi bi-pencil text-light"></i>
        </button>

        <button class="btn btn-secondary btn-icon rounded-circle delete-component-btn" title="Excluir componente">
            <i class="bi bi-trash"></i>
        </button>
    </td>
</tr>
