<div id="navbar-frame">
    <!-- Modal perfil -->
    <div class="modal fade" id="profile-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="error-modal-title">Perfil de professor</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <!-- Nome -->
                        <div class="mb-2">
                            <label for="nomeTxt" class="form-label mb-0">Nome:</label>
                            <input type="text" name="nome" id="nomeTxt" class="form-control border border-dark"
                                required />
                        </div>

                        <!-- E-mail -->
                        <div class="mb-2">
                            <label for="emailTxt" class="form-label mb-0">E-Mail:</label>
                            <input type="email" name="email" id="emailTxt" class="form-control border border-dark"
                                required />
                        </div>

                        <!-- Telefone -->
                        <div class="mb-2">
                            <label for="telefoneTxt" class="form-label mb-0">Telefone:</label>
                            <input type="tel" id="telefoneTxt" class="form-control border border-dark" name="telefone"
                                data-mask="(99) 99999-9999" maxlength="11" required />
                        </div>
                    </form>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary">Sair do sistema</button>
                    <button type="button" class="btn btn-warning">Salvar alterações</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">Nota 10</a>

            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="navbarNavDropdown"
                aria-label="Abrir/fechar barra de navegação">

                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="navbar-item">
                        <a href="#" class="nav-link active">Gerenciar instituição</a>
                    </li>
                </ul>

                <div class="d-flex align-items-center ms-auto">
                    <button id="openProfileModalBtn"
                        class="btn btn-outline-light btn-lg d-flex align-items-center px-3 py-2 text-dark">
                        <i class="bi bi-person-circle me-2 fs-5"></i>
                        <span>Perfil</span>
                    </button>
                </div>
            </div>
        </div>
    </nav>
</div>