<div class="modal fade" id="profile-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="error-modal-title">Alterar institução</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <!-- Nome -->
                    <div class="mb-2">
                        <label for="nomeTxt" class="form-label mb-0">Nome:</label>
                        <input type="text" name="nome" id="nomeTxt" class="form-control border border-dark" required value="{{name}}" />
                    </div>
                </form>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary">Cancelar</button>
                <button type="button" class="btn btn-warning">Salvar alterações</button>
            </div>
        </div>
    </div>
</div>