<tr>
    <th scope="col">{{name}}</th>
    <td>{{code}}</td>
    <td>{{acronym}}</td>
    <td>{{period}}</td>
    <td>{{start}}</td>
    <td>{{end}}</td>
    <td>
        <button class="btn btn-secondary btn-icon rounded-circle me-2" title="Abrir">
            <i class="bi bi-folder2-open"></i>
        </button>
        <button class="btn btn-secondary btn-icon rounded-circle me-2" title="Componentes de Nota">
            <i class="bi bi-backpack"></i>
        </button>
        <button class="btn btn-secondary btn-icon rounded-circle me-2" title="Alterar">
            <i class="bi bi-pencil text-light"></i>
        </button>
        <button class="btn btn-secondary btn-icon rounded-circle me-2" title="Excluir">
            <i class="bi bi-trash"></i>
        </button>
    </td>
</tr>