<!--Autores: Cristian e Emilly-->

<tr class="student-row" data-student-id="{{student_id}}">
    <td class="registration-cell">{{registration_id}}</td>
    <td class="name-cell">{{name}}</td>

    <!-- As notas serão colocadas dentro desta célula -->
    <td class="notes-cell"></td>

    <td class="actions-cell">
        <!-- Botão para editar o item -->
        <button class="edit-student-btn btn btn-secondary btn-icon rounded-circle me-2" title="Alterar">
            <i class="bi bi-pencil text-light"></i>
        </button>
        <!-- Botão para excluir o item -->
        <button class="delete-student-btn btn btn-secondary btn-icon rounded-circle me-2" title="Excluir">
            <i class="bi bi-trash"></i>
        </button>
    </td>
</tr>