<tr class="student-row" data-student-id="{{student_id}}">
    <td class="registration-cell">{{registration_id}}</td>
    <td class="name-cell">{{name}}</td>

    <!-- As notas serão colocadas dentro desta célula -->
    <td class="notes-cell"></td>

    <td class="actions-cell">
        <button class="btn btn-warning btn-sm edit-student-btn" title="Alterar aluno">
            <i class="bi bi-pencil"></i>
        </button>

        <button class="btn btn-danger btn-sm delete-student-btn" title="Excluir aluno">
            <i class="bi bi-trash"></i>
        </button>
    </td>
</tr>