<tr data-student-id="{{student_id}}">
    <th scope="row">{{registration_id}}</th>
    <td>{{name}}</td>

    <!-- Notas dos componentes -->
    <td class="notes-cell">
        {{notes_html}}
    </td>

    <!-- Ações padrão -->
    <td>
        <button class="btn btn-secondary btn-icon rounded-circle me-2 edit-student-btn" title="Alterar aluno">
            <i class="bi bi-pencil text-light"></i>
        </button>

        <button class="btn btn-secondary btn-icon rounded-circle me-2 delete-student-btn" title="Excluir aluno">
            <i class="bi bi-trash"></i>
        </button>
    </td>
</tr>
