/* Autor: Cristian Fava */

/* Variáveis globais (cores e fundo do formulário) */
:root {
    --form-background: transparent;
    --main-background: #f3f3f3;
    --foreground: #000;
}

/* Reset básico: remove margem/padding e define box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Remove bolinhas das listas */
ul {
    list-style: none;
}

/* Estilos gerais do body */
body {
    width: 100%;
    min-height: 100dvh; /* ocupa altura total da tela */
    color: var(--foreground);

    display: flex;
    align-items: center;  /* centraliza verticalmente */
    justify-content: center; /* centraliza horizontalmente */
    background: #f5f5f5; /* cor de fundo opcional */
}

/* Área principal */
main {
    width: 100%;
    min-height: 100dvh;
    padding: 0 2rem;
    background: var(--main-background);
}

/* Responsividade: remove padding em telas menores que 768px */
@media screen and (max-width: 768px) {
    main {
        padding: 0;
    }
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  /*overflow: hidden; /* impede a rolagem */
}

