/* Autor: Cristian Fava */

/* Variáveis globais (cores e fundo do formulário) */
:root {
    --form-background: transparent;
    --main-background: #f3f3f3;
    --foreground: #000;
}

/* Reset básico: remove margem/padding e define box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Remove bolinhas das listas */
ul {
    list-style: none;
}

/* Estilos gerais do body */
html, body {
    width: 100%;
    min-height: 100dvh; /* ocupa altura total da tela */
    color: var(--foreground);
    background: #f5f5f5; /* cor de fundo opcional */
}

/* Área principal */
main {
    width: 100%;
    min-height: 100dvh;
    background: #f1efef;
}

.selecionado-curso {
    text-decoration: underline;
    font-weight: bold;
}

/* table {
    table-layout: fixed; 
    width: 100%;
} */

.btn-icon {
  width: 38px;
  height: 38px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
}

.btn-icon i {
  font-size: 1.1rem;
}
